<div class='row collapse header'>
    <div class='small-12 medium-6 columns'>
        <a target='_blank' href='https://github.com/jbhamilton/go-iris-to-do-list'>Golang Iris To Do List Sample Application</a>
    </div>
    <div class='small-12 medium-6 columns text-right'>
        <ul class='dropdown menu' data-dropdown-menu>
            <li>
                <a>{{ name }}</a>
                <ul class='menu'>
                    <li><a href='/'>Your To-Dos</a></li>
                    <li><a href="/logout">Logout</a></li>
                </ul>
            </li>
        </ul>
    </div>
</div>
